/* Accordeon styles */

.tab {
position: relative;
margin-bottom: 1px;
width: 100%;
color: #000000;
overflow: hidden;
text-align: left;
}

input {
position: relative;
opacity: 0;
z-index: -1;
}

label {
position: relative;
right: 0;
top: 0;
display: block;
padding: 0 0 0 1em;
background: #efefef;
font-weight: bold;
line-height: 3;
cursor: pointer;
}

.tab-content {
max-height: 0;
overflow: hidden;
background: #efefef;
-webkit-transition: max-height .35s;
-o-transition: max-height .35s;
transition: max-height .35s;
}

 .tab-content p {
margin: 1em;
}


/* :checked */

input:checked ~ .tab-content {
max-height: 100em;
}

/* Icon */

label::after {
position: absolute;
right: 0;
top: 0;
display: block;
width: 3em;
height: 3em;
line-height: 3;
text-align: center;
-webkit-transition: all .35s;
-o-transition: all .35s;
transition: all .35s;
}

input {
&[type=checkbox] + label::after {
    content: "+";
}
&[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
}
}