div.col.m12.s12#links
  a( href="https://medium.com/sandbox" ) Blog
  span |
  a( href=site.system.url + "manifesto.html" ) Manifesto
  span |
  a( href=site.system.url + "about.html" ) About
  span |
  a( href=site.system.url + "join.html" ) Join Us