#index {
	#intro {
		margin-top: 30px;
		p {
			text-align: center;
		}
	}
	#description {
		margin-top: 50px;
	}
	#values {
		text-align: center;
		margin-top: 30px;

		ul {
			list-style-type: none;
			padding: 0;

			li {
				margin: 10px 0;
			}
		}
	}
	#manifesto { 
		margin-top: 30px;
		img { 
			height: auto;
			width: 100%;
		 }
	 }
}