#index {
	#intro {
		margin-top: 50px;
		p {
			text-align: center;
			margin-top: 50px;
		}
	}
	#links {
		text-align: center;
		span {
			color: #d0d0d0;
			margin: 10px;
		}
	}
	#manifesto { 
		margin-top: 50px;
		img { 
			height: auto;
			width: 100%;
		 }
	 }
}