#meet {
	.boxies {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;

		.boxie {
			display: flex;
			flex-direction: column;

			width: 300px;
			max-width: 100%;
		}

	}
		
}