- const page = { title: 'Bylaws', desc: 'Sandbox Bylaws', published: '2017-01-01', url: '/', featuredimg: '/image.jpg' }
doctype html
html
    include pug/_header.pug
    body#bylaws.page
        main.container
            div.row#bylaws.page
                a(href=site.system.url)
                    img.col.m4.offset-m4.s12#logo( src=site.system.url + "assets/sandbox-logo.svg" )
                div.col.m6.offset-m3.s12.tab
                    include:markdown-it ./markdown/bylaws.md
    include pug/_footer.pug
