- const page = { title: 'Join Sandbox', desc: '', published: '2017-01-01', url: '/', featuredimg: '/assets/sandbox-logo.svg' }
doctype html
html
	include pug/_header.pug
	body#contact
		main.container
			div.row
				a( href=site.system.url )
					img.col.m4.offset-m4.s12( src=site.system.url + "assets/sandbox-logo.svg" )
				p.col.m8.offset-m2.s12.flow-text You can get in touch by 
					a( href="mailto:tia.kansara@thousandnetwork.com" ) emailing the chair Tia Kansara.
					
	include pug/_footer.pug