- const page = { title: 'Home', desc: 'Home page', published: '2017-01-01', url: '/', featuredimg: '/assets/sandbox-logo.svg' }
doctype html
html
	include pug/_header.pug
	body#index
		main.container
			div.row#intro
				a( href=site.system.url )
					img.col.m4.offset-m4.s10.offset-s1#logo( src=site.system.url + "assets/sandbox-logo.svg" )
				p.col.m8.offset-m2.s12.flow-text#description We are an eclectic community of nomads, entrepreneurs, journalists, academics, politicians, artists, and indomitable misfits from over 100 countries. Together we seek to develop our authentic selves, form meaningful relationships, discover resources to live fulfilling lives, and to lead significant impact on the world around us. 
				div#manifesto.col.m6.offset-m3.s12
					img( src="/assets/manifesto-placeholder.jpg" )
				div.col.m8.offset-m2.s12.flow-text#values
					ul
						li We endeavor to create positive value to our world.
						li We believe that our impact is amplified when supporting others.
						li We are present with ourselves and one another.
						li We are generous with our time, resources, and expertise.
						li We strive for humility, empathy, and authenticity in our connections.
						li We respect the safety and diversity of our community.
	include pug/_footer.pug