- const page = { title: 'Join Sandbox', desc: '', published: '2017-01-01', url: '/', featuredimg: '/assets/sandbox-logo.svg' }
doctype html
html
	include pug/_header.pug
	body#join
		main.container
			div.row
				a( href=site.system.url )
					img.col.m4.offset-m4.s12#logo( src=site.system.url + "assets/sandbox-logo.svg" )
				p.col.m6.offset-m3.s12.flow-text You can apply to join your closest Sandbox hub. After using the form for your specific hub you will be contacted by the local ambassador. Our Nomad hub if for those who join from places we have yet to have an Ambassador. 
				div.col.m12.s12#links
					a( href="https://goo.gl/forms/j0PZ6S5Np6hCQxzf2" ) Amsterdam
					a( href="https://goo.gl/forms/bYHnrfyxe5FSlkl82" ) Athens
					a( href="https://goo.gl/forms/vfyT6HbJ2ilOnd8l1" ) Bangalore
					a( href="https://goo.gl/forms/z498O1ISK5oiGCrD3" ) Bejing
					a( href="https://goo.gl/forms/juKOGQ5fo8hUTLxD3" ) Berlin
					a( href="https://goo.gl/forms/juofHHdAjvd1lusU2" ) Bogota
					a( href="https://goo.gl/forms/6Ja6iu4qP4wblSVi2" ) Boston
					a( href="https://goo.gl/forms/4dZGIeSlQQHHz8wn2" ) Brussels
					a( href="https://goo.gl/forms/YwjW8jISet8XjPSR2" ) Buenos Aires
					a( href="https://goo.gl/forms/urlpJUCQBcqRto0W2" ) Cairo
					a( href="https://goo.gl/forms/9R3k210yThFc80oq2" ) Cape Town
					a( href="https://goo.gl/forms/RhuOyYZM0WXlxvhu2" ) Chicago
					a( href="https://goo.gl/forms/xyfrwX6oUaAzjowf1" ) Copenhagen
					a( href="https://goo.gl/forms/iAG9Dpmc6NpFHrOb2" ) DC
					a( href="https://goo.gl/forms/DAO39dF9CBcDve4S2" ) Dubai
					a( href="https://goo.gl/forms/fQJjFKa3hYYFuiXl2" ) Dublin
					a( href="https://goo.gl/forms/FUUX1ejsLyYmaPxj2" ) LA
					a( href="https://goo.gl/forms/4u3tfU12FOqOTEOs1" ) Leman
					a( href="https://goo.gl/forms/quwQ0MfRvR3qxNiI3" ) Lisbon
					a( href="https://goo.gl/forms/kjfbQpGVYBZPdBkr1" ) London
					a( href="https://goo.gl/forms/fgrOtlXuAxRMq6DP2" ) Madrid
					a( href="https://goo.gl/forms/qC9GxByI9yYMaNq73" ) Mexico City
					a( href="https://goo.gl/forms/zwP2Pd7ZcRx5Dd9S2" ) Nairobi
					a( href="https://goo.gl/forms/nOZJp7JCKWzbnAfE2" ) Nomad
					a( href="https://goo.gl/forms/tAv2K8wwBZneKYEO2" ) NYC
					a( href="https://goo.gl/forms/VH0bCfWYiw85MNUm1" ) Paris
					a( href="https://goo.gl/forms/i5V0CVCVgPejKpAe2" ) Philly
					a( href="https://goo.gl/forms/uV3lP9k3X3wbijCq1" ) Phoenix
					a( href="https://goo.gl/forms/rLsvwiwKAx3KURcZ2" ) Porto
					a( href="https://goo.gl/forms/x5P2pqTQLdOuHbVx1" ) Recife
					a( href="https://goo.gl/forms/25AbsTmoVLQCL7ON2" ) Sao Paulo
					a( href="https://goo.gl/forms/iS1dozQCvDyYWdBh1" ) SF
					a( href="https://goo.gl/forms/BbOUy7C9i7vJE7CO2" ) Singapore
					a( href="https://goo.gl/forms/wEwUfriusW6qUe8u1" ) Stockholm
					a( href="https://goo.gl/forms/qm4jPQsMZyJMgPoF3" ) Tel Aviv
					a( href="https://goo.gl/forms/bYZ0YyeDWKkXUezd2" ) Toronto
					a( href="https://goo.gl/forms/1IwQT6NZSI1XyOEs2" ) Vancouver
					a( href="https://goo.gl/forms/PGkaDFYdo406ydqb2" ) Zurich
	include pug/_footer.pug