- const page = { title: 'Members', desc: 'Member communications', published: '2017-01-01', url: '/', featuredimg: '/assets/sandbox-logo.svg' }
doctype html
html
	include pug/_header.pug
	body#members
		main.container
			div.row#intro
				a( href=site.system.url )
					img.col.m4.offset-m4.s6.offset-s3#logo( src=site.system.url + "assets/sandbox-logo.svg" )
				h1.col.m6.offset-m3.s10.offset-s1 Communicating with other members
				div.col.m6.offset-m3.s12.flow-text
					p Official Sandbox communications happen through Slack. It is a communications app used in teams to communicate effectively and in a structured way.
					iframe( width="100%" height="315" src="https://www.youtube.com/embed/9RJZMSsH7-g?rel=0" frameborder="0" allowfullscreen )
					hr
					h2 STEP 1: How to get into the group
					ol
						li You will be invited my email
							ul
								li Not invited yet? Make sure you updated your email in the newsletter list (ask your ambassador if you are not receiving the newsletter)
						li You will receive an invite email, use it to create your account
						li Download the relevant slack apps
							ul
								li
									a( href="https://slack.com/downloads/" ) For your laptop/computer 
								li For your 
									a( href="https://itunes.apple.com/app/slack-app/id618783545?ls=1&mt=8" ) iPhone, 
									a( href="https://play.google.com/store/apps/details?id=com.Slack" ) Android
								li Or for 
									a( href="https://slack.com/downloads/" ) Any other device
								li If you use whatsapp/facebook/gmail on your laptop, consider trying out the 
									a( href="http://meetfranz.com/" ) Franz App
						li Not used to slack? Read the FAQ section below to get started
					hr
					h2 STEP 2: How to get started
					p Once you get set up, we recommend:
					ol
						li Set your profile picture 
							a( href="https://sandbox-slack-group.slack.com/account/profile" ) on your profile page
						li Set your notification preferences 
							a( href="https://sandbox-slack-group.slack.com/account/notifications" ) on your notification settings
					hr
					h2 STEP 3: Read the FAQ
					h3 Why are we using Slack?
					p The Facebook group is frustrating many people. It is not conducive to conversations between a large group of people. Slack allows us to separate discussions in channels and sub groups to everyone can meep track of what matters to them.
					h3 How do I use the channels?
					p Channels are like sub groups in the Slack. You can join any channel and leave it, set notifications for it or ignore a channel altogether.
					iframe( width="560" height="315" src="https://www.youtube.com/embed/KMHg25-z6yg?rel=0" frameborder="0" allowfullscreen )
					h3 Does this replace our hub's whatsapp/facebook/etc?
					p No, it does not. You are welcome to use Slack of course, but we are not trying to disturb hub-specific communication dynamics.
					h3 How do I contact specific people?
					p You can send direct messages to any member. If you want to involve them in a discussion you can tag them with their user handle. Have a look at the Slack explanation video:
					iframe( width="560" height="315" src="https://www.youtube.com/embed/JsX8V4hzENo?rel=0" frameborder="0" allowfullscreen )
	include pug/_footer-links.pug	
	include pug/_footer.pug