- const page = { title: 'Home', desc: 'Home page', published: '2017-01-01', url: '/', featuredimg: '/assets/sandbox-logo.svg' }
doctype html
html
  include pug/_header.pug
  body#store
    main.container
      div.row#intro
        a( href=site.system.url )
          img.col.m6.offset-m3.s10.offset-s1#logo( src=site.system.url + "assets/sandbox-logo.svg" )
        p.col.m6.offset-m3.s12.flow-text You will be forwarded to the store. If this doesn't happen, please enable javascript in your browser.
        
  include pug/_footer.pug
